<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img height="100px" src="{{image}}" alt='{{name}} picture'/>
        <h3>{{name}}</h3>
        <h6>{{tagline}}</h6>
        <p>{{description}}</p>
         <h5>Food Pairings</h5>
        <ul>
            {{#each foodPairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <span>Brewers Tips: </span>
        <span>{{tips}}</span>
    </div>
</body>
</html>